// / === Header ===
@media (min-width: 600px) {
    header {
        height: 100vh;

        // position: relative;
        // overflow: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

    }

    header>article {
        // width: 500px;
        // height: 100px;
        font-size: 40px;
        margin: 5%
    }

    header::after {
        // position: absolute;
        // content: "";
        width: 130vw;
        height: 150vh;
        // border-radius: 100%/ 100%;
        // background: linear-gradient(#00132c, rgba(21, 52, 98, 0.9));
        // transform: rotate(10deg);
        top: -70vh;
        left: -11vh;
        border: 15px solid #5e97e28c;
    }


}

@media (min-width: 720px) {

    main {
        margin: 0%;

    }

    .section__one {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img text ";
        gap: 40px;
        padding: 0;
        margin: 0;
    }

    .section__one-img {
        grid-area: img;
        padding: 0;
        margin: unset;
        padding-bottom: unset;
        background: white;

        img {
            border-radius: unset;

        }
    }


    .section__one-article {
        grid-area: text;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        // margin-top: 16%;
        min-height: 250px;
        background: white;

    }

    .section__one-h2 {

        width: 70%;


    }

    .section_one-paragraph {

        width: 70%;

    }





    // === Mellan section ===
    .section__two-h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2c4f80;
        background-color: #f1f1f1;
        height: 100px;
        margin: 0%;

    }

    // ====  section 2=====



    .section__two {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #f1f1f1;
        font-size: 14px;
    }


    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "block1 aside"
            "block2 aside";
        margin: 5% 10%;
        gap: 20px;
        text-align: unset;

    }


    .section__two-article {
        grid-area: block1;
        display: grid;
        background: #ffffff;
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-areas: "bild text1";
        gap: 30px;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 5px 5px;
        text-align: unset;





        img {
            width: 130px;
            height: 130px;
            margin: 10%;
        }
    }



    .section__two-article2-img {
        width: unset;
        height: unset;

    }

    .section__two-img {
        grid-area: bild;

    }

    .section__two-article-item {
        grid-area: text1;

    }





    // ========  section 2 art 2 =====
    .section__two-article2 {
        grid-area: aside;
        background: #ffffff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: "bild1"
            " text2";
        gap: 20px;
        text-align: center;
    }

    .section__two-article2-img {
        grid-area: bild1;


        img {
            width: 200px;
            height: 200px;
        }
    }

    .section__two-article2-item {
        grid-area: text2;
        display: flex;
        flex-direction: column;

        align-items: center;
        align-self: center;
        margin: 5%;
    }





    // ========  section 2 art 3 =====


    .section__2-article3 {
        grid-area: block2;

        background: #ffffff;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-areas: "bild3 text4 ";
        gap: 20px;
        // padding: 5px 5px;
    }

    .section__two-article3-img {
        width: 100%;
        height: 100%;

        grid-area: bild3;

        img {
            width: 100%;
            height: 100%;

        }


    }

    .section__2-article3-item {
        grid-area: text4;
        padding: 20px 5px;

    }





    // ====Footer===
    footer {
        margin: 0%;
        padding: 100px 0px;
    }
}