header {
    display: flex;
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to bottom, #c1555576, #2402026e),
        url("Photos/header/yuliya-kosolapova-p-z-xf-ir-j-mt-e-unsplash.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
    // display: flex;
    // justify-content: flex-end;
    // align-items: flex-start;


    h1 {
        color: #ffffff;
        border-bottom: 5px solid #ffffff;
        margin: 0px;
    }

    p {
        color: #436dac;
        font-weight: bolder;
    }


}

header article {
    text-align: center;
    font-size: 20px;
    width: 50%;
}



header {





    article {
        z-index: 100;
        display: flex;
        flex-direction: column;
        margin: 10%;

        p {
            color: #436dac;
        }

    }

}

header>article {


    width: 500px;
    height: 100px;
    font-size: 25px;


}

header::after {
    position: absolute;
    content: "";
    width: 130vw;
    height: 110vh;
    border-radius: 100%/ 100%;
    background: linear-gradient(#00132c, rgba(21, 52, 98, 0.9));
    transform: rotate(10deg);
    top: -70vh;
    left: -10vh;
    border: 15px solid #5e97e282;

}

// =====================================