@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
main {
  background: #f1f1f1;
  height: 100%;
}

.section__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 350px;
  margin-top: 10px;
  background: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__one .section__one-article {
  background: white;
  margin: 5;
  padding: 5px 10px;
}

.section__one .section__one-img {
  background: white;
}

.section__one-h2 {
  color: #e32700;
}

.section_one-paragraph span {
  color: #e32700;
}

.section__one-img {
  padding: 0% 2%;
}

.section__one-img img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.section__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 5px 10px;
  padding-bottom: 5%;
}

.section__two-img img {
  width: 50%;
  height: 50%;
  margin-top: 5%;
}

.section__two-h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2c4f80;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 5%;
  text-align: center;
}

.section__two-article {
  background: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.section__two-article h3 {
  color: #e32700;
}

.section__two-article a {
  border: 1px solid #2c4f80;
  text-decoration: none;
  color: #2c4f80;
  padding: 3px 3px;
  border-radius: 20%;
}

.section__two-article2 {
  padding: 5px 5px;
  background: white;
  padding-bottom: 10px;
}

.section__two-article2 a {
  border: 1px solid #2c4f80;
  text-decoration: none;
  color: #2c4f80;
  padding: 3px 3px;
  border-radius: 20%;
}

.section__two-article2-h2 {
  color: #e32700;
}

.section__two-article2-img {
  width: 100%;
  height: 100%;
  padding: 5% 0%;
}

.section__2-article3 {
  background: white;
  margin-top: 10px;
  padding: 5px 5px;
  padding-bottom: 10px;
}

.section__2-article3 h3 {
  color: #e32700;
}

.section__2-article3 a {
  border: 1px solid #2c4f80;
  text-decoration: none;
  color: #2c4f80;
  padding: 3px 3px;
  border-radius: 20%;
}

.section__two-article3-img img {
  width: 70%;
  height: 70%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0%;
  padding: 0%;
  background-image: url("Photos/header/yuliya-kosolapova-p-z-xf-ir-j-mt-e-unsplash.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

header p {
  color: #d1e0f3;
  font-weight: bolder;
}

header article {
  text-align: center;
  font-size: 20px;
  width: 50%;
}

@media (min-width: 520px) {
  body {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: unset;
    height: 50px;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav__img {
    width: 80px;
    height: 40px;
    padding: 5px 5px;
  }
  .menu {
    display: none;
  }
  nav > .nav__main-list {
    background: #061b38;
    border: unset;
    height: unset;
    width: unset;
    display: block;
    background: unset;
    margin: unset;
    padding: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 10px;
  }
  nav > .nav__main-list li {
    list-style: none;
    display: inline;
    border: unset;
    margin: 8px;
  }
  nav > .nav__main-list a {
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
    display: inline;
    border: unset;
  }
  ul li a:hover {
    color: #ac4747;
    -webkit-transition: all linear 500ms;
    transition: all linear 500ms;
  }
  nav .nav__main-list {
    display: block !important;
  }
  header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header article {
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10%;
  }
  header > article {
    width: 500px;
    height: 100px;
    font-size: 40px;
  }
  header::after {
    position: absolute;
    content: "";
    width: 130vw;
    height: 150vh;
    border-radius: 100%/ 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#00132c), to(rgba(21, 52, 98, 0.9)));
    background: linear-gradient(#00132c, rgba(21, 52, 98, 0.9));
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    top: -83vh;
    left: -15vh;
    border: 15px solid #ac4747;
  }
}

@media (min-width: 700px) {
  main {
    margin: 0%;
  }
  .section__one {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img text ";
    gap: 40px;
    padding: 0;
    margin: 0;
  }
  .section__one-img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img;
    padding: 0;
    margin: unset;
    padding-bottom: unset;
    background: white;
  }
  .section__one-img img {
    border-radius: unset;
  }
  .section__one-article {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    min-height: 250px;
    background: white;
  }
  .section__one-h2 {
    width: 70%;
  }
  .section_one-paragraph {
    width: 70%;
  }
  .section__two-h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #2c4f80;
    background-color: #f1f1f1;
    height: 100px;
    margin: 0%;
  }
  .section__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f1f1f1;
    font-size: 14px;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "block1 aside" "block2 aside";
    margin: 5% 10%;
    gap: 20px;
  }
  .section__two-article {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: block1;
    display: -ms-grid;
    display: grid;
    background: #ffffff;
    -ms-grid-columns: 0.5fr 1.5fr;
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-areas: "bild text1";
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 5px;
  }
  .section__two-article img {
    width: 130px;
    height: 130px;
    margin: 10%;
  }
  .section__two-article2-img {
    width: unset;
    height: unset;
  }
  .section__two-img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: bild;
  }
  .section__two-article-item {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text1;
  }
  .section__two-article2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: aside;
    background: #ffffff;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: "bild1" " text2";
    gap: 20px;
  }
  .section__two-article2-img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: bild1;
  }
  .section__two-article2-img img {
    width: 200px;
    height: 200px;
  }
  .section__two-article2-item {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: text2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 5%;
  }
  .section__2-article3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: block2;
    background: #ffffff;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
        grid-template-areas: "bild3 text4 ";
    gap: 20px;
  }
  .section__two-article3-img {
    width: 100%;
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: bild3;
  }
  .section__two-article3-img img {
    width: 100%;
    height: 100%;
  }
  .section__2-article3-item {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text4;
  }
  footer {
    margin: 0%;
  }
}

footer {
  background-color: #2c4f80;
}

footer {
  margin-top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__article {
  text-align: center;
  padding: 4px 10px;
}

.footer__article h3 {
  color: #ffffff;
}

.footer__article p {
  color: #ffffff;
}

.footer__article span {
  color: #f97c7c;
}

body {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #061b38;
  border-bottom: 5px solid #ac4747;
}

.nav__img {
  width: 60px;
  height: 30px;
}

.menu {
  color: white;
  font-size: 20px;
  padding: 3px 5px;
  margin-left: auto;
}

nav > .nav__main-list {
  display: none;
  background: #061b38;
  width: 100%;
  height: 100px;
  text-align: center;
  border-top: 1px solid #ac4747;
  margin: 2%;
}

nav > .nav__main-list li {
  list-style: none;
  margin: 2%;
  border: 1px solid #ac4747;
  margin-left: -10%;
}

nav > .nav__main-list a {
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  border-bottom: 2px solid #ac4747;
}

nav:hover .nav__main-list {
  display: block;
}
/*# sourceMappingURL=style.css.map */