@media (min-width: 520px) {
    body {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
        font-size: 18px;
    }

    nav {
        display: flex;
        border: unset;
        height: 50px;
        width: 100%;
        align-items: flex-start;
    }

    .nav__img {
        width: 80px;
        height: 40px;
        padding: 5px 5px;
    }

    .menu {

        display: none;
    }

    nav>.nav__main-list {
        background: #061b38;
        border: unset;
        height: unset;
        width: unset;
        display: block;
        background: unset;
        margin: unset;
        padding: unset;
        display: flex;
        align-self: center;
        margin-left: auto;
        justify-content: space-around;
        justify-content: space-between;
        padding-right: 10px;

        li {
            list-style: none;
            display: inline;
            border: unset;
            margin: 8px;
        }

        a {
            text-decoration: none;
            font-size: 16px;
            color: whitesmoke;
            display: inline;
            border: unset;
        }
    }

    ul li a:hover {
        border-bottom: 2px solid rgb(172, 71, 71);
        transition: all linear 500ms;

        nav {
            .nav__main-list {
                display: block !important;
            }
        }
    }


}


// ======= Header ====
@media (min-width: 900px) {
    .header2 {
        height: 100vh;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: flex-start;


    }

    .header2 {
        height: 100vh;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: flex-start;



        article {
            z-index: 100;
            display: flex;
            flex-direction: column;
            margin: 10%;

        }

    }

    header>article {
        width: 500px;
        height: 100px;
        font-size: 40px;

    }

    .header2::before {
        position: absolute;
        content: "";
        width: 130vw;
        height: 150vh;
        border-radius: 100%/ 100%;
        background: linear-gradient(#00132c, rgba(21, 52, 98, 0.9));
        transform: rotate(10deg);
        top: -70vh;
        left: -10vh;
        border: 15px solid #5e97e282;
    }

    main {
        background-color: #f1f1f1;

    }

    //===== Main ==== 

    .section__one-page2 {
        display: grid;
        grid-template-columns: 0.7fr 1fr 1fr;
        grid-template-rows: 0.7fr 1fr 0.1fr;
        grid-template-areas: "text1 text2 text2"
            "text1 text3 text3";
        gap: 20px;
        font-size: 16px;



    }

    // Article 1 section 1
    .section__one-page2-article1 {
        grid-area: text1;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        justify-content: space-evenly;
        justify-content: space-around;
        padding: 5px 10%;
        background-color: #ffffff;




    }


    // Article 2 section 1
    .section__one-page2-article2 {
        grid-area: text2;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 80px 10%;

    }


    // Article 3 section 1
    .section__one-page2-article3 {
        grid-area: text3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "textart3 imgart3";
        gap: 10px;
        background-color: #ffffff;

    }

    .section__one-page2-article3-art {
        grid-area: textart3;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        // justify-content: space-evenly;
        // justify-content: space-around;
        padding: 5px 10%;
        background-color: #ffffff;


    }

    .section__one-page2-article3-img {
        grid-area: imgart3;
        min-height: 200px;

        img {
            width: 100%;
            height: 100%;

        }


    }


    // ===section 2 page 2====
    .section__two-page2 {
        margin: 0%;
        padding: 0%;
    }

    .section__two-page2-article1 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "leftPhoto righttext";
        gap: 0px;
        min-height: 400px;
        margin: 0%;
        padding: 0%;

        gap: 20px;
    }

    .section__two-page2-subarticle {
        grid-area: righttext;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 30px;



        h3 {
            color: #e32700;
        }
    }

    .section__two-page2-article1-img {
        grid-area: leftPhoto;
        width: 100%;
        height: 100%;

    }

    footer {
        padding: 100px 0px;
    }
}