main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


    h2 {
        color: #e32700;
    }

    // background-image: linear-gradient(#2c4f80, rgb(255, 248, 248), white);
    // background-repeat: no-repeat;
    // background-attachment: fixed;
}

.main__page2-h1 {
    color: #2c4f80;
}


//==== Main section ====
.section__one-page2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
    padding: 1px 10px;

}

.section__one-page2-article1 {

    border-radius: 20px;
    padding: 5px 10px;
    background: #ffffff;


}

//  ===article 2 section 1 page 2 =====

.section__one-page2-article2 {
    // display: flex;
    // flex-wrap: wrap;
    background: #ffffff;
    margin: 8px;
    padding: 5px 20px;

    span {
        color: grey;
    }
}

// ==== article3  section 1 page2======


.section__one-page2-article3-img {

    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 20px;


    }

}

.section__one-page2-article3 {
    background: #ffffff;
    padding: 5px 10px;
    margin: 10px;
}



// ==== list desing ====
.section__one-page2-article2-list {
    list-style: none;
}

.section__one-page2-article2-list li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


//=== section 2 page 2 ====
.section__two-page2 {

    // display: flex;
    // flex-direction: column;
    background: #ffffff;
    margin: 5%;
}

.section__two-page2-article1 {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;

}

.section__two-page2-article1-img {
    display: flex;
    flex-direction: column;
    background-image: url("bilder/main2/hero-2.jpg");
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 70%;
    height: 70%;
    min-height: 300px;
}


.img-wrapper {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-wrapper-1 {
    width: 20px;
    height: 20px;
    padding: 60px;
}

.img-wrapper-2 {
    width: 40px;
    height: 40px;
}

.img-wrapper-3 {
    width: 30px;
    height: 30px;
    padding: 30px;
}