@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@media (min-width: 520px) {
  body {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 18px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: unset;
    height: 50px;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav__img {
    width: 80px;
    height: 40px;
    padding: 5px 5px;
  }
  .menu {
    display: none;
  }
  nav > .nav__main-list {
    background: #061b38;
    border: unset;
    height: unset;
    width: unset;
    display: block;
    background: unset;
    margin: unset;
    padding: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 10px;
  }
  nav > .nav__main-list li {
    list-style: none;
    display: inline;
    border: unset;
    margin: 8px;
  }
  nav > .nav__main-list a {
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
    display: inline;
    border: unset;
  }
  ul li a:hover {
    color: #ac4747;
    -webkit-transition: all linear 500ms;
    transition: all linear 500ms;
  }
  ul li a:hover nav .nav__main-list {
    display: block !important;
  }
}

@media (min-width: 800px) {
  .header2 {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header2 {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header2 article {
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10%;
  }
  .header2 > article {
    width: 500px;
    height: 100px;
    font-size: 40px;
  }
  .header2::before {
    position: absolute;
    content: "";
    width: 130vw;
    height: 150vh;
    border-radius: 100%/ 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#00132c), to(rgba(21, 52, 98, 0.9)));
    background: linear-gradient(#00132c, rgba(21, 52, 98, 0.9));
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    top: -70vh;
    left: -10vh;
    border: 15px solid #ac4747;
  }
  main {
    background-color: #f1f1f1;
  }
  .section__one-page2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.7fr 1fr 1fr;
        grid-template-columns: 0.7fr 1fr 1fr;
    -ms-grid-rows: 0.7fr 1fr 0.1fr;
        grid-template-rows: 0.7fr 1fr 0.1fr;
        grid-template-areas: "text1 text2 text2" "text1 text3 text3";
    gap: 20px;
    font-size: 16px;
  }
  .section__one-page2-article1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: text1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 5px 10%;
    background-color: #ffffff;
  }
  .section__one-page2-article2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: text2;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 5%;
  }
  .section__one-page2-article3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: text3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "textart3 imgart3";
    gap: 10px;
    background-color: #ffffff;
  }
  .section__one-page2-article3-art {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: textart3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 5px 10%;
    background-color: #ffffff;
  }
  .section__one-page2-article3-img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: imgart3;
    min-height: 200px;
  }
  .section__one-page2-article3-img img {
    width: 100%;
    height: 100%;
  }
  .section__two-page2-article1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.7fr 1.3fr;
        grid-template-columns: 0.7fr 1.3fr;
        grid-template-areas: "photo text-1";
    gap: 15px;
    background-color: #ffffff;
  }
}

.section__two-page2-subarticle {
  grid-area: text-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 5px 2%;
}

.section__two-page2-article1-img {
  grid-area: photo;
}
/*# sourceMappingURL=desk2.css.map */